@model DoAnCoSo.Models.Post

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
	<h4>Post</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Title)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Title)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Date)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Date)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ImageQRVideo)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ImageQRVideo)
		</dd>
	</dl>
	@foreach (var cmt in Model.Comments)
	{
		if (Model.IdPost == cmt.IdPost)
		{
			<h1 class="textclassanimalInfo">@cmt.ChatData</h1>
		}
	}

	<h3>Add a Comment</h3>
	@using (Html.BeginForm("AddComment", "Comment", new { Idpost = Model.IdPost }, FormMethod.Post))
	{
		<div>
			<textarea name="ChatData" rows="4" cols="40"></textarea>
		</div>
		<div>
			<input type="submit" value="Add Comment" />
		</div>
	}
</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model?.IdPost">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
